name: Validate

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - uses: golangci/golangci-lint-action@v7
        with:
          version: v2.6.1

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: go test -race ./...

  inttest:
    name: Integration Tests
    runs-on: ubuntu-latest
    strategy:
      # matrix here allows us to parallelize these tests
      matrix:
        target:
          # Disabling temporarily due to some initialization issues
          #- ceos
          - csrx
          - confd
          - netopeer2
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: extractions/setup-just@v2

      - name: Run containered integration tests
        env:
          # Private images for testing
          CSRX_IMAGE: ghcr.io/nemith/netconf_dut_juniper_csrx:20.3R1.8
          CEOS_IMAGE: ghcr.io/nemith/netconf_dut_arista_ceos64-lab:4.28.3M
          CONFD_IMAGE: ghcr.io/nemith/netconf_dut_tailf_confd:7.8.3
        run: just inttest/${{ matrix.target }}
